*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    width:100%;
    height:auto;
}
.container .header
{
    display: flex;
    gap:100px;
    width:100%;
    height:120px;
    padding:0 150px;
    background-color: #fff;
}
.container .header .logo
{
    width:15%;
    height:120px;
    background-image: url("https://mcdonalds.az/images/static/mcdonalds-logo.jpg");
    background-repeat: no-repeat;
}
.container .header .menu
{
    width:70%;
    height:120px;
    padding-top:20px;
}
.container .header .menu .menu-up
{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:50px;
}
.container .header .menu .menu-down
{
    width:100%;
    height:50px;
    padding-top:10px;
}
#menu-chevron-up
{
    display: none;
}
.container .header .menu ul 
{
    display: flex;
    gap:30px;
    list-style-type: none;
}
.container .header .menu ul i
{
    margin-left:5px;
}
.container .header .menu  a
{
    font-family: sans-serif;
    text-decoration: none;
    color:#555;
}
.container .header .menu .menu-up a
{
  
   font-size:14px;
}
.container .header .menu .menu-down a
{
   font-size:16px;
   font-weight:500;
   letter-spacing:0.8px;
}
.btn
{
    width:auto;
    height:auto;
    padding:5px 20px;
    font-size:16px;
    border: none;
    border-radius:5px;
    background-color: #ffbc0d;
    color:#333;
}
.main
{
    width:100%;
    height:auto;
    padding-top:50px;
    box-shadow: 0 -1px 10px #ccc;
}
.main  .section-1 
{
    position: relative;
    width:100%;
    height:500px;
    padding:0 150px;
}
.main .section-1 .slider 
{
    width:100%;
    height:500px;
    border-radius:5px;
    background-image: url("https://mcdonalds.az/images/303da6a1161ef2d33a6d9068714e9670.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-page
{
    display: none;
    flex-wrap:wrap ;
    position: absolute;
    top:-50px;
    left:0;
    width:100%;
    height:350px;
    padding:0 250px;
    background-color:#fff;
    border:1px solid #ccc;
    z-index: 555;
    transition: 0.5s;
}
.menu-page .menu-item
{
    display: flex;
    gap:20px;
    width:300px;
}
.menu-page .menu-item .menu-item-img
{
    width:70px;
    height:70px;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-page .menu-item .menu-item-title
{
   margin-top:20px;
   font-family: sans-serif;
   font-size:16px;
   font-weight:500;
}
.section1-card
{
    position: absolute;
    top:200px;
    left:280px;
    width:350px;
    height:275px;
    padding:20px;
    border-radius:5px;
    background-color: #fff;
}
.section1-card p 
{
    font-family: sans-serif;
    font-size:32px;
    font-weight: bolder;
    line-height:38px;
}
.section1-card-btn 
{
  margin-top:20px;
  padding:15px 30px;
  font-size:14px;
}
.main  .section-2
{
    width:100%;
    height:350px;
    margin-top:100px;
    padding:0 150px;
}
.main  .section2-card
{
    display: flex;
    width:100%;
    height:350px;
}
.main  .section2-card .section2-card-img
{
    width:65%;
    height:350px;
    background-image:url("https://mcdonalds.az/images/392d23f9e55ac4056d2a56184b1d5213.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main  .section2-card .section2-card-content
{
    width:35%;
    height:350px;
    padding:20px 50px 30px 30px;
}
.main  .section2-card .section2-card-content p
{
    font-family: sans-serif;
    font-size:32px;
    font-weight: bolder;
    line-height:38px;
}
.main  .section2-card .section2-card-content span
{
    display: block;
    font-family: sans-serif;
    font-size:14px;
    line-height:38px;
    margin:15px 0;
}
.section2-card-btn
{
    padding:15px 70px;
    margin-top:20px;
}
.main  .section-3
{
    width:100%;
    height:350px;
    margin-top:100px;
    padding:0 150px;
}

.main  .section2-card .section3-card-img
{
    background-image:url("https://mcdonalds.az/images/36d465453ba9d421a026d608495fb2e3.png");
}
.main  .section2-card .section3-card-content
{
    padding:20px 50px;
}
.main  .section-4
{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:500px;
    margin-top:100px;
    padding:0 150px;
}
.main  .section-4 .section4-card
{
    width:350px;
    height:400px;
    background-color:#fff;
}
.main  .section-4 .section4-card .section4-card-img
{
    width:350px;
    height:150px;
    background-size: cover;
    background-repeat: no-repeat;
}
.main  .section-4 .section4-card .section4-card1-img
{
    background-image:url("https://mcdonalds.az/images/292a1d4806065e6318ef8c9d9e9264b0.jpg");
}
.main  .section-4 .section4-card .section4-card2-img
{
    background-image:url("https://mcdonalds.az/images/84b30fedac58f3e1433a3da5d0c945a9.png");
}
.main  .section-4 .section4-card .section4-card3-img
{
    background-image:url("https://mcdonalds.az/images/e1365cd6b7a0589ce08bdd726c4d7ab3.jpg");
}
.main  .section-4 .section4-card .section4-card-title
{
    margin:20px 0;
    font-family: sans-serif;
    font-size:32px;
    font-weight: bolder;
    line-height:38px;
}
.main  .section-4 .section4-card .section4-card-text
{
    display: block;
    font-family: sans-serif;
    font-size:14px;
    line-height:38px;
    margin:15px 0;
}
.section4-card-btn
{
    width:200px;
    padding:15px 30px;
    text-align: center;
}
.footer 
{
    width:100%;
    height:500px;
    margin-top:50px;
    padding:0 150px;
}
.footer .footer-up 
{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:300px;
}
.footer .footer-up ul
{
    list-style-type: none;
    line-height:35px;
    font-family: serif;
    font-size:16px;
    color:#555;
}
.footer .footer-up ul li:first-child
{
    margin-bottom:10px;
}
.footer-down 
{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:100px;
}
.footer-down .social
{
    display: flex;
    justify-content: space-between;
    width:20%;
    height:100px;
}
.footer-down .social span 
{
    width:35px;
    height:35px;
    border-radius:50%;
    border:1px solid #333;
    background-color:#781313;
}
.footer-down .social span img
{
    width:35px;
    height:35px;
    border-radius:50%;
}